/*custom Properties*/
:root{
    /* Fuentes */
    --fuentePrincipal: 'Poppins', sans-serif;
    --fuenteSecundaria: 'Raleway', sans-serif;
    --fuenteParrafos: 'Montserrat', sans-serif;
    /* colores */
    --primario: #0E092B;
    --secundario: #FF80AB;
    --grisClaro: #E6F2EE;
    --negro: #000000;
    --blanco: #ffffff;
}
/**/
html {
    box-sizing: border-box;
    font-size: 62.5%;/*1rem = 16px*/
}
  *, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    line-height: 2;
}
/* Glogales */
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}
h1, h2, h3, h4{
    font-family: var(--fuentePrincipal);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
/**Utilidades: acciones que se pueden repetir**/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}