/*custom Properties*/
:root{
    /* Fuentes */
    --fuentePrincipal: 'Poppins', sans-serif;
    --fuenteSecundaria: 'Raleway', sans-serif;
    --fuenteParrafos: 'Montserrat', sans-serif;
    /* colores */
    --primario: #0E092B;
    --secundario: #292796;
    --grisClaro: #E6F2EE;
    --negro: #000000;
    --blanco: #ffffff;
}
/**/
html {
    box-sizing: border-box;
    font-size: 62.5%;/*1rem = 16px*/
}
  *, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    line-height: 2;
}
/* Glogales */
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}
h1, h2, h3, h4{
    font-family: var(--fuentePrincipal);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
/**Utilidades: acciones que se pueden repetir**/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}

/** Encabezado*/
.encabezado{
    height: 68rem;
    background-image: url(../img/encabezado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.encabezado__texto{
    text-align: center;
    margin-top: 8rem;
    color: var(--primario);
}
@media (min-width: 768px){
    .encabezado__texto{
        margin-top: 20rem;
    }
}
.texto__Iglesia{
    font-family: var(--fuenteSecundaria);
    font-weight: 300;
    letter-spacing: 1rem;
}

.texto__bienvenidos{
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
}
/*navegacion*/
.barraNavegacion{
    padding-top: 2rem;
}
@media (min-width: 768px){
    .barraNavegacion{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    
}
@media (min-width: 768px){
    .navegacion{
        display: flex;
        /*gap: 1.8rem;*/
    }
    .navegacion__enlace{
        margin-right: 2rem;
    }
    .navegacion__enlace:last-of-type{
        margin: 0;
    }
}
.navegacion__enlace{
    display: block;
    text-align: center;
    color: var(--blanco);
    font-size: 1.8rem;
}
.navegacion__enlace:hover{
    color: var(--primario);

}
.vivo{
    background-color: var(--blanco);
    padding: .1rem 1rem;
    border-radius: 2rem;
}
.vivo:hover{
    cursor: pointer;
    background-color: var(--secundario);
}
.navegacion__enlace--letra{
    color: var(--negro);
    letter-spacing: 0.2rem;
    font-weight: 700;
}
.navegacion__enlace--letra:hover{
    color: var(--blanco);
}

